.Wdate{
	border:#999 1px solid;
	height:25px;
	width: 110px;;
	background:#fff url(datePicker.gif) no-repeat right;
	padding: 5px;
}
.Wdate::-ms-clear{display:none;}

.WdateFmtErr{
	font-weight:bold;
	color:red;
}