{% extends "base.html" %}
{% block css %}
{% endblock %}

{% block content %}
    <section id="main-content">
        <section class="wrapper">
            <!-- charts container-->
            <div class="panel shadow">
                <div class="panel-body">
                    <div class="panel shadow">
                        <div class="panel-heading"><i class="icon_grid-3x3"></i>度假APP转化率 &nbsp;
                    <span class="icon_question_alt2" data-toggle="modal" href="#myModal"
                          style="float:right;margin-top: 10px;margin-right: 10px"></span>
                        </div>
                        <div>
                            <p style="color: #FF0000;margin-left: 10px;margin-top:10px"><b>指标算法：总体转化率不含邮轮、签证、游学等，只包含团队游、自由行。其中自由行包括SDP
                                APP和DP APP产品，团队游包括国内游APP、海外游APP和周边短途APP。</b></p>
                        </div>
                        <div id="total" style="height:300px"></div>
                        <div id="diy" style="margin-top: 10px;height:300px"></div>
                        <div id="pkg" style="margin-top: 10px;height:300px"></div>
                    </div>

                </div>
                <div class="panel-footer">
                    <footer class="main-footer">
                        <!-- To the right -->
                        <div class="pull-right hidden-xs">
                            <small>Powered By <a href="mailto:va_data@Ctrip.com">度假数据团队</a></small>
                        </div>
                        <!-- Default to the left -->
                        <small>&copy;
                            2016 <a href="http://vacations.ctrip.com/">Ctrip</a>. All rights
                            reserved.
                        </small>
                    </footer>
                </div>
            </div>
        </section>
    </section>
{% endblock %}

{% block js %}
    <script src="/static/js/highcharts/themes/sand-signika.js"></script>
    <script src="/static/js/Custom/checkHistory.js"></script>
    <script type="application/javascript">
        appVaCR();
    </script>
{% endblock %}

