{% extends "base.html" %}
{% block css %}
{% endblock %}

{% block content %}
    <section id="main-content">
        <section class="wrapper">
             <span id="param" style="padding: 3px;display:inline-block;text-align: center;margin-left: 10px;">

                </span>
            <ul id="myTab" class="nav nav-tabs">
                <li id="tab_default" class="active"><a href="#home" data-toggle="tab"><i class="icon_house"></i>
                    全部</a></li>
                <li id="diy"><a href="#diyOrder" data-toggle="tab" onClick="diyOrder()">自由行</a></li>
                <li id="pkg"><a href="#pkgOrder" data-toggle="tab" onClick="pkgOrder()"> 团队游</a></li>
                <li id="visa"><a href="#visaOrder" data-toggle="tab" onClick="visaOrder()"> 签证</a></li>
                <li id="cruise"><a href="#cruiseOrder" data-toggle="tab" onClick="curiseOrder()"> 邮轮</a></li>

            </ul>
            <!-- params start-->
            <div id="myTabContent" class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <header id="acheader1" class="panel-heading shadow" style="margin-bottom: 10px;max-height: 50px">
                     <span id="param" style="padding: 3px;display:inline-block;text-align: center;margin-left: 10px;">
                    <label>时间：<input id="calDate1" class="Wdate" type="text" placeholder="--选择时间--"
                                     onfocus="WdatePicker()"></label>&nbsp;&nbsp;
                    <button type="button" id="search1" class="btn btn-info btn-xs" onclick='Vacationsearch()' style="">
                        <b><i class="icon_search"></i>&nbsp;&nbsp;查询</b>
                    </button>&nbsp;&nbsp;
                     </span>
                        <label><p style="color: #FF0000;margin-left: 10px;margin-top:10px"><b>注意：此处度假总订单仅包含自由行、团队游（含周边短途）、签证，不含邮轮。渠道包含app/online/h5/offline等，此处仅列出app/online/h5.</b>
                        </p></label>
                    </header>
                    <div id='orderContainer' class="panel-body" style="margin-left:2px;">

                    </div>
                    <div class="panel-footer">
                        <footer class="main-footer">
                            <!-- To the right -->
                            <div class="pull-right hidden-xs">
                                <strong>Powered By 度假数据团队</strong>
                            </div>
                            <!-- Default to the left -->
                            <strong>Copyright &copy; 2015 <a href="http://taocan.ctrip.com/">Ctrip</a>.</strong> All
                            rights
                            reserved.
                        </footer>
                    </div>
                </div>
                <div id="diyOrder" style="margin-top:10px;" class="tab-pane fade">
                    <header id="acheader2" class="panel-heading shadow" style="margin-bottom: 10px;max-height: 50px">
                     <span id="param" style="padding: 3px;display:inline-block;text-align: center;margin-left: 10px;">
                    <label>时间：<input id="calDate2" class="Wdate" type="text" placeholder="--选择时间--"
                                     onfocus="WdatePicker()"></label>&nbsp;&nbsp;
                    <button type="button" id="search2" class="btn btn-info btn-xs" onclick='diysearch()' style=""><b><i
                            class="icon_search"></i>&nbsp;&nbsp;查询</b>
                    </button>&nbsp;&nbsp;
                     </span>
                        <label><p style="color: #FF0000;margin-left: 10px;margin-top:10px">
                            <b>注意：此处自由行总订单包含下单方式为4126和6869的。渠道包含app/online/h5/offline等，此处仅列出app/online/h5.</b>
                        </p>
                        </label>
                    </header>
                    <div id='orderdiyH' style="margin-left:2px;">
                    </div>
                    <div style='clear:left' class="panel-footer">
                        <footer class="main-footer">
                            <!-- To the right -->
                            <div class="pull-right hidden-xs">
                                <strong>Powered By 度假数据团队</strong>
                            </div>
                            <!-- Default to the left -->
                            <strong>Copyright &copy; 2015 <a href="http://taocan.ctrip.com/">Ctrip</a>.</strong> All
                            rights
                            reserved.
                        </footer>
                    </div>
                </div>
                <div id="pkgOrder" class="tab-pane fade">
                    <header id="acheader3" class="panel-heading shadow" style="margin-bottom: 10px;max-height: 50px">
                     <span id="param" style="padding: 3px;display:inline-block;text-align: center;margin-left: 10px;">
                    <label>时间：<input id="calDate3" class="Wdate" type="text" placeholder="--选择时间--"
                                     onfocus="WdatePicker()"></label>&nbsp;&nbsp;
                    <button type="button" id="search3" class="btn btn-info btn-xs" onclick='pkgsearch()' style=""><b><i
                            class="icon_search"></i>&nbsp;&nbsp;查询</b>
                    </button>&nbsp;&nbsp;
                     </span>
                        <label><p style="color: #FF0000;margin-left: 10px;margin-top:10px">
                            <b>注意：此处团队游总订单仅包含产品形态为：跟团游、团队游、私家团、半自助游、当地参团、独立成团，产品类型为：国内旅游,出境旅游,境外N日游,境内一日游,境内N日游。</b>
                        </p>
                        </label>
                    </header>
                    <div id='orderpkgH' style="margin-left:2px;">
                    </div>
                    <div style='clear:left' class="panel-footer">
                        <footer class="main-footer">
                            <!-- To the right -->
                            <div class="pull-right hidden-xs">
                                <strong>Powered By 度假数据团队</strong>
                            </div>
                            <!-- Default to the left -->
                            <strong>Copyright &copy; 2015 <a href="http://taocan.ctrip.com/">Ctrip</a>.</strong> All
                            rights
                            reserved.
                        </footer>
                    </div>
                </div>
                <div id="visaOrder" class="tab-pane fade">
                    <header id="acheader4" class="panel-heading shadow" style="margin-bottom: 10px;max-height: 50px">
                     <span id="param" style="padding: 3px;display:inline-block;text-align: center;margin-left: 10px;">
                    <label>时间：<input id="calDate4" class="Wdate" type="text" placeholder="--选择时间--"
                                     onfocus="WdatePicker()"></label>&nbsp;&nbsp;
                    <button type="button" id="search4" class="btn btn-info btn-xs" onclick='visasearch()' style=""><b><i
                            class="icon_search"></i>&nbsp;&nbsp;查询</b>
                    </button>&nbsp;&nbsp;
                     </span>
                        <label><p style="color: #FF0000;margin-left: 10px;margin-top:10px">
                            <b>注意：此处签证总订单仅包含产品类型为：签证。渠道包含app/online/h5/offline等，此处仅列出app/online/h5.</b>
                        </p>
                        </label>
                    </header>
                    <div id='visaH' style="margin-left:2px;">
                    </div>
                    <div style='clear:left' class="panel-footer">
                        <footer class="main-footer">
                            <!-- To the right -->
                            <div class="pull-right hidden-xs">
                                <strong>Powered By 度假数据团队</strong>
                            </div>
                            <!-- Default to the left -->
                            <strong>Copyright &copy; 2015 <a href="http://taocan.ctrip.com/">Ctrip</a>.</strong> All
                            rights
                            reserved.
                        </footer>
                    </div>
                </div>
                <div id="cruiseOrder" class="tab-pane fade">
                    <div id='cruiseH' style="margin-left:2px;">
                    </div>
                    <div style='clear:left' class="panel-footer">
                        <footer class="main-footer">
                            <!-- To the right -->
                            <div class="pull-right hidden-xs">
                                <strong>Powered By 度假数据团队</strong>
                            </div>
                            <!-- Default to the left -->
                            <strong>Copyright &copy; 2016 <a href="http://taocan.ctrip.com/">Ctrip</a>.</strong> All
                            rights
                            reserved.
                        </footer>
                    </div>
                </div>

            </div>
        </section>
    </section>
{% endblock %}

{% block js %}
    <script src="/static/js/Custom/appVacation.js"></script>
    <script type="application/javascript">
        $(document).ready(function () {
            function item(name, cnt) {
                this.name = name;
                this.cnt = cnt;
            }

            appVacation()
        });
    </script>
{% endblock %}
