{% extends "base.html" %}
{% block css %}
{% endblock %}

{% block content %}
    <section id="main-content">
        <section class="wrapper">
            <!-- charts container-->
              <header id="pkg_header" class="panel-heading shadow" style="margin-bottom: 10px;max-height: 50px">
                                <span id="param" style="padding: 3px;display:inline-block;text-align: center;margin-left: 10px;">
                                    <label>开始时间：<input id="startdate" class="Wdate" type="text" placeholder="--开始时间--" onfocus="WdatePicker()"></label>&nbsp;&nbsp;
                                    <label>截止时间：<input id="enddate" class="Wdate" type="text" placeholder="--截止时间--" onfocus="WdatePicker()"></label>&nbsp;&nbsp;
                                     <button type="button" id="search" class="btn btn-info btn-xs" onclick='appVaCR()' style=""><b><i class="icon_search"></i>&nbsp;&nbsp;查询</b></button>
                                </span>
                </header>
            <div class="panel shadow">
                <div class="panel-body">
                    <div class="panel shadow">
                        <div class="panel-heading"><i class="icon_grid-3x3"></i>度假APP转化率 &nbsp;
                           <span class="icon_question_alt2" data-toggle="modal" href="#myModal" style="float:right;margin-top: 10px;margin-right: 10px"></span>

                        </div>

                        <div id="total" style="height:300px"></div>
                        <div id="diy" style="margin-top: 10px;height:300px"></div>
                        <div id="pkg" style="margin-top: 10px;height:300px"></div>
                    </div>

                </div>
                <div class="panel-footer">
                    <footer class="main-footer">
                        <!-- To the right -->
                        <div class="pull-right hidden-xs">
                            <small>Powered By <a href="mailto:va_data@Ctrip.com">度假数据团队</a></small>
                        </div>
                        <!-- Default to the left -->
                        <small>&copy;
                            2016 <a href="http://vacations.ctrip.com/">Ctrip</a>. All rights
                            reserved.
                        </small>
                    </footer>
                </div>
            </div>
        </section>
    </section>
{% endblock %}

{% block js %}
    <script src="/static/js/highcharts/themes/sand-signika.js"></script>
    <script src="/static/js/Custom/checkHistory.js"></script>
    <script type="application/javascript">
     $("#startdate").val(getNowDay()[1]);
      $("#enddate").val(getNowDay()[0]);
        appVaCR();
    </script>
{% endblock %}

