{% extends "base.html" %}
{% block css %}
{% endblock %}

{% block content %}
    <section id="main-content">
        <section class="wrapper">
            <header id="pkg_header" class="panel-heading shadow" style="margin-bottom: 10px;max-height: 50px">
                     <span id="param" style="padding: 3px;display:inline-block;text-align: center;margin-left: 10px;">
                    <label>开始时间：<input id="d5221" class="Wdate" type="text" style="width:160px;"
                                       placeholder="-----开始时间-----"
                                       onFocus="var d5222=$dp.$('d5222');WdatePicker({onpicked:function(){d5222.focus();},maxDate:'#F{$dp.$D(\'d5222\')}',dateFmt:'yyyy-MM-dd HH:mm:ss'})"/></label>&nbsp;&nbsp;
                    <label>截止时间：<input id="d5222" class="Wdate" type="text" style="width:160px;"
                                       placeholder="-----截止时间-----"
                                       onFocus="WdatePicker({minDate:'#F{$dp.$D(\'d5221\')}',dateFmt:'yyyy-MM-dd HH:mm:ss'})"/></label>&nbsp;&nbsp;

                         <label>间隔时间：</label>
                    <select id="interval" class="selectparam" name="interval" data-toggle="tooltip" title="请选择间隔时间">
                        <option value="3" label="3min">1min</option>
                        <option value="3" label="3min">3min</option>
                        <option value="5" label="5min">5min</option>
                        <option value="10" selected label="10min">10min</option>
                        <option value="15" label="15min">15min</option>
                        <option value="20" label="20min">20min</option>
                        <option value="30" label="30min">30min</option>
                        <option value="60" label="60min">60min</option>
                    </select>

                         <div class="btn-group" style="margin-left: 30px">
                             <button class="btn btn-info btn-xs" type="button">最近1小时</button>
                             <button class="btn btn-info btn-xs" type="button">最近2小时</button>
                             <button class="btn btn-info btn-xs" type="button">最近3小时</button>
                             <button class="btn btn-info btn-xs active" type="button">最近1天</button>
                             <button class="btn btn-info btn-xs" type="button">最近2天</button>
                             <button class="btn btn-info btn-xs" type="button">最近3天</button>
                         </div>
                         <button type="button" id='search' class="btn btn-info btn-xs" style="margin-left: 20px"><b><i
                                 class="icon_search"></i>&nbsp;&nbsp;查询</b>
                         </button>
                </span>
            </header>
            <!-- charts container-->
            <section class="panel shadow">
                <div class="panel-heading"><i class="icon_grid-3x3" style="margin-left: 5px"></i>
                    自由行可订检查实时监控
                    <span id="updatedt"></span>
                    <span id="datasource" style="float: right;margin-right: 5px"><small>统计数据来自：<a
                            href="http://cdataportal.sh.ctripcorp.com/fx/dashboard/">Matrix</a></small></span>
                </div>
                <div class="panel-body" style="background-color: #F7F7F7">
                    <div class="row">
                        <div class="col-lg-10">
                            <div id="chart_1"></div>
                        </div>
                        <div class="col-lg-2" style="margin-top: 30px;">
                            <div class="description-block border-right">
                                    <span class="description-percentage text-green"><b><i
                                            class="fa fa-caret-up"></i> 17%</b></span>

                                <div class="description-text">实时整体失败率</div>
                                <!-- /.description-block -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <div id="chart_3">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            {#                            <div class="row">#}
                            {#                                <input type="text" value="50" class="knob" id="failures">#}
                            {#                            </div>#}
                            <div class="description-block border-right">
                                    <span class="description-percentage text-green"><i
                                            class="fa fa-caret-up"></i> 17%</span>
                                <h5 class="description-header">$35,210.43</h5>
                                <span class="description-text">实时全天失败数</span>
                                <!-- /.description-block -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <div id="chart_4">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="description-block border-right">
                                    <span class="description-percentage text-green"><i
                                            class="fa fa-caret-up"></i> 17%</span>
                                <h5 class="description-header">$35,210.43</h5>
                                <span class="description-text">实时全天调用数</span>
                                <!-- /.description-block -->
                            </div>
                            <div class="row">
                                <div class="col-sm-3 col-xs-6">
                                    <div class="description-block border-right">
                                        <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 17%</span>
                                        <h5 class="description-header">$35,210.43</h5>
                                        <span class="description-text">TOTAL REVENUE</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-3 col-xs-6">
                                    <div class="description-block border-right">
                                        <span class="description-percentage text-yellow"><i
                                                class="fa fa-caret-left"></i> 0%</span>
                                        <h5 class="description-header">$10,390.90</h5>
                                        <span class="description-text">TOTAL COST</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-3 col-xs-6">
                                    <div class="description-block border-right">
                                        <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 20%</span>
                                        <h5 class="description-header">$24,813.53</h5>
                                        <span class="description-text">TOTAL PROFIT</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-3 col-xs-6">
                                    <div class="description-block">
                                        <span class="description-percentage text-red"><i class="fa fa-caret-down"></i> 18%</span>
                                        <h5 class="description-header">1200</h5>
                                        <span class="description-text">GOAL COMPLETIONS</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                            </div>
                            <!-- /.row -->
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <footer class="main-footer">
                        <!-- To the right -->
                        <div class="pull-right hidden-xs">
                            <small>Powered By <a href="mailto:va_data@Ctrip.com">度假数据团队</a></small>
                        </div>
                        <!-- Default to the left -->
                        <small>&copy;
                            2016 <a href="http://vacations.ctrip.com/">Ctrip</a>. All rights
                            reserved.
                        </small>
                    </footer>
                </div>
            </section>
            <!-- charts end-->
        </section>
    </section>
{% endblock %}

{% block js %}
    <script src="/static/js/jquery.knob.js"></script>
    <script src="/static/js/Custom/charts.js" charset="utf-8"></script>
    <script type="application/javascript">
        $(function () {
            sdt = sysdatetime(-1);
            edt = sysdatetime(0);
            $("#d5221").val = sdt;
            interval = 10;
            $(".knob").knob({
                'width': 100,
                'thickness': ".1",
                'fgColor ': '#00a65a'
            });
            $('.dial').val(27).trigger('change');

            $.render_line_charts('spline', 'chart_1', '可定失败率', '/EagleEye/bookable/rate/' + sdt + '/' + edt + '/10/', null, 10, null, 250, null, '%', null);
            $.render_line_charts('spline', 'chart_3', '可定失败数', '/EagleEye/bookable/failure/' + sdt + '/' + edt + '/10/', null, 10, null, 250, null, '次', null);
            $.render_line_charts('spline', 'chart_4', '可定调用数', '/EagleEye/bookable/all/' + sdt + '/' + edt + '/10/', null, 10, null, 250, null, '次', null);

            $("#search").click(function () {
                sdt = $("#d5221").val();
                edt = $("#d5222").val();
                interval = $("#interval").val();
                charts.render_singlem2('spline', '失败率', '/EagleEye/bookable/rate/' + sdt + '/' + edt + '/' + interval + '/', '', 250, 10, 'chart_1');
                charts.render_singlem2('spline', '失败数', '/EagleEye/bookable/failure/' + sdt + '/' + edt + '/' + interval + '/', '', 250, 10, 'chart_3');
                charts.render_singlem2('spline', '调用总数', '/EagleEye/bookable/all/' + sdt + '/' + edt + '/' + interval + '/', '', 250, 10, 'chart_4');
            });
            $(".selectparam").select2({
                minimumResultsForSearch: Infinity
            });
        })
    </script>
{% endblock %}
