{% extends "base.html" %}
{% block css %}
{% endblock %}

{% block content %}
    <section id="main-content">
        <section class="wrapper">

            <ul id="myTab" class="nav nav-tabs">
                <li id="tab_default" class="active"><a href="#home" data-toggle="tab"><i class="icon_house"></i>
                    全部</a></li>
                <li id="tab_flight"><a href="#checkFlight" data-toggle="tab" onClick="checkFilght()"><i
                        class="icon_compass"></i> 机票</a></li>
                <li id="tab_hotel"><a href="#checkHotel" data-toggle="tab" onClick="checkHotel()"><i
                        class="icon_building_alt"></i> 酒店</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle"
                       data-toggle="dropdown"
                       href="#">
                        <i class="arrow_carrot-2dwnn_alt"></i> 其他
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li id="tab_x"><a href="#xResource" data-toggle="tab" onClick="checkX()"><i class="icon_ol"></i>
                            X资源</a></li>
                        <li id="tab_item"><a href="#select" data-toggle="tab" onClick="checkSelect()"><i
                                class="icon_ol"></i> 单选项</a></li>
                        <li id="tab_TTD"><a href="#TTD" data-toggle="tab" onClick="checkPlay()"><i class="icon_ol"></i>
                            当地玩乐</a></li>
                    </ul>
                </li>
                <li class="pull-right" style="margin-top: 8px;">
                    <i class="arrow_right_alt"></i>
                    <small><a href="/EagleEye/check/" style="color: #6a6a6a">&nbsp;查看实时趋势&nbsp;</a></small>
                </li>
            </ul>
            <!-- params start-->
            <div id="myTabContent" class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <p style='margin-top:20px;margin-left:20px'> 渠道：
                        <select id='channel' name='channel' style='width:120px;height:25px;'
                                data-toggle='tooltip' title='请选择渠道'>
                            <option value='all' label='全部'> 全部</option>
                            <option value='onlineCheck' label='Online'> Online</option>
                            <option value='wirelessCheck' label='无线'> 无线</option>
                            <option value='offlineCheck' label='Offline'> Offline</option>
                        </select>
                        <button type='button' style='margin-left:20px;height:25px;width:60px;' id='search'
                                data-toggle='tooltip' data-placement='bottom' title='查询不同渠道失败率'
                                class='btn btn-info btn-xs'
                                onclick='searchChannel()'>查询
                        </button>
                    </p>
                    <div id='checkContainer' class="panel-body" style="margin-left:2px;">

                    </div>
                    <div class="panel-footer">
                        <footer class="main-footer">
                            <!-- To the right -->
                            <div class="pull-right hidden-xs">
                                <strong>Powered By 度假数据团队</strong>
                            </div>
                            <!-- Default to the left -->
                            <strong>Copyright &copy; 2016 <a href="http://taocan.ctrip.com/">Ctrip</a>.</strong> All
                            rights
                            reserved.
                        </footer>
                    </div>
                </div>
                <div id="checkFlight" style="margin-top:10px;" class="tab-pane fade">
                    <div id='checkFlightH' style="margin-left:2px;">
                    </div>
                    <div style='clear:left' class="panel-footer">
                        <footer class="main-footer">
                            <!-- To the right -->
                            <div class="pull-right hidden-xs">
                                <strong>Powered By 度假数据团队</strong>
                            </div>
                            <!-- Default to the left -->
                            <strong>Copyright &copy; 2016 <a href="http://taocan.ctrip.com/">Ctrip</a>.</strong> All
                            rights
                            reserved.
                        </footer>
                    </div>
                </div>
                <div id="checkHotel" class="tab-pane fade">
                    <div id='checkHotelH' style="margin-left:2px;">
                    </div>
                    <div style='clear:left' class="panel-footer">
                        <footer class="main-footer">
                            <!-- To the right -->
                            <div class="pull-right hidden-xs">
                                <strong>Powered By 度假数据团队</strong>
                            </div>
                            <!-- Default to the left -->
                            <strong>Copyright &copy; 2016 <a href="http://taocan.ctrip.com/">Ctrip</a>.</strong> All
                            rights
                            reserved.
                        </footer>
                    </div>
                </div>
                <div id="xResource" class="tab-pane fade">
                    <div id='xResourceH' style="margin-left:2px;">
                    </div>
                    <div style='clear:left' class="panel-footer">
                        <footer class="main-footer">
                            <!-- To the right -->
                            <div class="pull-right hidden-xs">
                                <strong>Powered By 度假数据团队</strong>
                            </div>
                            <!-- Default to the left -->
                            <strong>Copyright &copy; 2016 <a href="http://taocan.ctrip.com/">Ctrip</a>.</strong> All
                            rights
                            reserved.
                        </footer>
                    </div>
                </div>
                <div id="select" class="tab-pane fade">
                    <div id='selectH' style="margin-left:2px;">
                    </div>
                    <div style='clear:left' class="panel-footer">
                        <footer class="main-footer">
                            <!-- To the right -->
                            <div class="pull-right hidden-xs">
                                <strong>Powered By 度假数据团队</strong>
                            </div>
                            <!-- Default to the left -->
                            <strong>Copyright &copy; 2016 <a href="http://taocan.ctrip.com/">Ctrip</a>.</strong> All
                            rights
                            reserved.
                        </footer>
                    </div>
                </div>
                <div id="TTD" class="tab-pane fade">
                    <div id='TTDH' style="margin-left:2px;">
                    </div>
                    <div style='clear:left' class="panel-footer">
                        <footer class="main-footer">
                            <!-- To the right -->
                            <div class="pull-right hidden-xs">
                                <strong>Powered By 度假数据团队</strong>
                            </div>
                            <!-- Default to the left -->
                            <strong>Copyright &copy; 2016 <a href="http://taocan.ctrip.com/">Ctrip</a>.</strong> All
                            rights
                            reserved.
                        </footer>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}

{% block js %}
    <script src="/static/js/highcharts/themes/sand-signika.js"></script>
    <script src="/static/js/Custom/checkHistory.js"></script>
    <script type="application/javascript">
        $(document).ready(function () {

            function item(name, cnt) {
                this.name = name;
                this.cnt = cnt;
            }
            checkAll()
        })
    </script>
{% endblock %}