{% extends "base.html" %}

{#css#}
{% block css %}
{% endblock %}

{#content#}
{% block content %}
    <section id="main-content">
        <section class="wrapper">

            <ul id="myTab" class="nav nav-tabs">
                <li id="tab_default" class="active"><a href="#diybook" data-toggle="tab"></i>
                    查询推荐为空</a></li>
                <li id="pkg1"><a href="#pkgbook" data-toggle="tab" onClick="diyFlightService()">机票查询为空</a></li>
                <li id="pkg2"><a href="#pkgcommit" data-toggle="tab" onClick="diyHotelService()">酒店查询为空</a></li>
            </ul>
            <!-- params start-->
            <div id="myTabContent" class="tab-content">
                <div id="diybook" class="tab-pane fade in active">
                     <header id="acheader1" class="panel-heading shadow" style="margin-bottom: 10px;max-height: 50px">
                           <span id="param" style="padding: 3px;display:inline-block;text-align: center;margin-left: 10px;">
                                    <label>开始时间：<input id="startdate1" class="Wdate" type="text" placeholder="--开始时间--" onfocus="WdatePicker()"></label>&nbsp;&nbsp;
                                    <label>截止时间：<input id="enddate1" class="Wdate" type="text" placeholder="--截止时间--" onfocus="WdatePicker()"></label>&nbsp;&nbsp;
                                     <button type="button" id="search" class="btn btn-info btn-xs" onclick='diyServiceInvoke()' style=""><b><i class="icon_search"></i>&nbsp;&nbsp;查询</b></button>
                                </span>
                    </header>
                    <div id='orderContainer' class="panel-body" style="margin-left:2px;">

                    </div>
                    <div class="panel-footer">
                        <footer class="main-footer">
                            <!-- To the right -->
                            <div class="pull-right hidden-xs">
                                <strong>Powered By 度假数据团队</strong>
                            </div>
                            <!-- Default to the left -->
                            <strong>Copyright &copy; 2016 <a href="http://taocan.ctrip.com/">Ctrip</a>.</strong> All
                            rights
                            reserved.
                        </footer>
                    </div>
                </div>
                <div id="pkgbook" class="tab-pane fade">
                     <header id="acheader1" class="panel-heading shadow" style="margin-bottom: 10px;max-height: 50px">
                           <span id="param" style="padding: 3px;display:inline-block;text-align: center;margin-left: 10px;">
                                    <label>开始时间：<input id="startdate2" class="Wdate" type="text" placeholder="--开始时间--" onfocus="WdatePicker()"></label>&nbsp;&nbsp;
                                    <label>截止时间：<input id="enddate2" class="Wdate" type="text" placeholder="--截止时间--" onfocus="WdatePicker()"></label>&nbsp;&nbsp;
                                     <button type="button" id="search" class="btn btn-info btn-xs" onclick='diyFlightService()' style=""><b><i class="icon_search"></i>&nbsp;&nbsp;查询</b></button>
                                </span>


                    </header>
                    <div id='pkgbookH' style="margin-left:2px;">
                    </div>
                    <div style='clear:left' class="panel-footer">
                        <footer class="main-footer">
                            <!-- To the right -->
                            <div class="pull-right hidden-xs">
                                <strong>Powered By 度假数据团队</strong>
                            </div>
                            <!-- Default to the left -->
                            <strong>Copyright &copy; 2016 <a href="http://taocan.ctrip.com/">Ctrip</a>.</strong> All
                            rights
                            reserved.
                        </footer>
                    </div>
                </div>
                <div id="pkgcommit" class="tab-pane fade">
                     <header id="acheader1" class="panel-heading shadow" style="margin-bottom: 10px;max-height: 50px">
                           <span id="param" style="padding: 3px;display:inline-block;text-align: center;margin-left: 10px;">
                                    <label>开始时间：<input id="startdate3" class="Wdate" type="text" placeholder="--开始时间--" onfocus="WdatePicker()"></label>&nbsp;&nbsp;
                                    <label>截止时间：<input id="enddate3" class="Wdate" type="text" placeholder="--截止时间--" onfocus="WdatePicker()"></label>&nbsp;&nbsp;
                                     <button type="button" id="search" class="btn btn-info btn-xs" onclick='diyHotelService()' style=""><b><i class="icon_search"></i>&nbsp;&nbsp;查询</b></button>
                                </span>

                    </header>
                    <div id='pkgcommitH' style="margin-left:2px;">
                    </div>
                    <div style='clear:left' class="panel-footer">
                        <footer class="main-footer">
                            <!-- To the right -->
                            <div class="pull-right hidden-xs">
                                <strong>Powered By 度假数据团队</strong>
                            </div>
                            <!-- Default to the left -->
                            <strong>Copyright &copy; 2016 <a href="http://taocan.ctrip.com/">Ctrip</a>.</strong> All
                            rights
                            reserved.
                        </footer>
                    </div>
                </div>


            </div>
        </section>
    </section>
{% endblock %}

{#js#}
{% block js %}
    <script src="/static/js/highcharts/themes/sand-signika.js"></script>
    <script src="/static/js/Custom/checkHistory.js"></script>
    <script type="application/javascript">
        $(document).ready(function () {

            function item(name, cnt) {
                this.name = name;
                this.cnt = cnt;
            }
            $("#startdate1").val(getNowDay()[1]);
           $("#enddate1").val(getNowDay()[0]);
           $("#startdate2").val(getNowDay()[1]);
           $("#enddate2").val(getNowDay()[0]);
            $("#startdate3").val(getNowDay()[1]);
           $("#enddate3").val(getNowDay()[0]);

            diyServiceInvoke();

        })

    </script>
{% endblock %}
