{% extends "base.html" %}
{% block css %}
{% endblock %}

{% block content %}
    <section id="main-content">
        <section class="wrapper">
            <section class="panel panel-warning ">
                <div class="panel-heading">
                    &nbsp;&nbsp;<i class="icon_error-triangle"></i><b>禁止访问</b>
                </div>
                <div class="panel-body">
                    <p style="margin: 20px">&nbsp;&nbsp;&nbsp;&nbsp;Oops,您还没有通过访问授权,申请授权请联系<a
                            href="mailto:va_data@Ctrip.com">数据组</a>(va_data@Ctrip.com)，谢谢！</p>
                </div>
            </section>
            <div class="panel-footer" style="">
                <footer class="main-footer">
                    <!-- To the right -->
                    <div class="pull-right hidden-xs">
                        <small>Powered By <a href="mailto:va_data@Ctrip.com">度假数据团队</a></small>
                    </div>
                    <!-- Default to the left -->
                    <small>&copy;
                        2016 <a href="http://vacations.ctrip.com/">Ctrip</a>. All rights
                        reserved.
                    </small>
                </footer>
            </div>
        </section>
    </section>
{% endblock %}

{% block js %}
{% endblock %}
