{% extends "base.html" %}
{% block css %}
{% endblock %}

{% block content %}
    <section id="main-content">
        <section class="wrapper">
             <div class="alert alert-info alert-dismissable">
                注意事项：
               <li>新的可订数据取自metric，始于2016-05-19，前期无数据埋点暂置为0 。每天凌晨自动更新昨日数据。</li>
               <li>如果需要融合前自由行SDP相关可订数据请与我们联系。</li>
               <li>DP数据维持之前旧的逻辑不变。</li>

           </div>
            <ul id="myTab" class="nav nav-tabs">
                <li id="tab_default" class="active"><a href="#home" data-toggle="tab"><i class="icon_house"></i>
                    SDP</a></li>
                <li id="tab_flight"><a href="#checkResource" data-toggle="tab" onClick="checkResource()"><i
                        class="icon_compass"></i>SDP分资源</a></li>
                <li id="tab_hotel"><a href="#DP" data-toggle="tab" onClick="checkDP()"><i class="icon_building_alt"></i>DP</a>
                </li>
                <li class="pull-right" style="margin-top: 8px;">
                    <i class="arrow_right_alt"></i>
                    <small><a href="/EagleEye/check/" style="color: #6a6a6a">&nbsp;查看实时趋势&nbsp;</a></small>
                </li>
            </ul>
            <!-- params start-->
            <div id="myTabContent" class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <header id="acheader1" class="panel-heading shadow" style="margin-bottom: 10px;max-height: 50px">
                           <span id="param" style="padding: 3px;display:inline-block;text-align: center;margin-left: 10px;">
                                    <label>开始时间：<input id="startdate1" class="Wdate" type="text" placeholder="--开始时间--" onfocus="WdatePicker()"></label>&nbsp;&nbsp;
                                    <label>截止时间：<input id="enddate1" class="Wdate" type="text" placeholder="--截止时间--" onfocus="WdatePicker()"></label>&nbsp;&nbsp;
                                     <button type="button" id="search" class="btn btn-info btn-xs" onclick='checkSDP()' style=""><b><i class="icon_search"></i>&nbsp;&nbsp;查询</b></button>
                                </span>

                    </header>
                    <div id='checkContainer' class="panel-body" style="margin-left:2px;">

                    </div>
                    <div class="panel-footer">
                        <footer class="main-footer">
                            <!-- To the right -->
                            <div class="pull-right hidden-xs">
                                <strong>Powered By 度假数据团队</strong>
                            </div>
                            <!-- Default to the left -->
                            <strong>Copyright &copy; 2016 <a href="http://taocan.ctrip.com/">Ctrip</a>.</strong> All
                            rights
                            reserved.
                        </footer>
                    </div>
                </div>
                <div id="checkResource" style="margin-top:10px;" class="tab-pane fade">
                    <header id="acheader1" class="panel-heading shadow" style="margin-bottom: 10px;max-height: 50px">
                      <span id="param" style="padding: 3px;display:inline-block;text-align: center;margin-left: 10px;">
                                    <label>开始时间：<input id="startdate2" class="Wdate" type="text" placeholder="--开始时间--" onfocus="WdatePicker()"></label>&nbsp;&nbsp;
                                    <label>截止时间：<input id="enddate2" class="Wdate" type="text" placeholder="--截止时间--" onfocus="WdatePicker()"></label>&nbsp;&nbsp;
                                     <button type="button" id="search" class="btn btn-info btn-xs" onclick='checkResource()' style=""><b><i class="icon_search"></i>&nbsp;&nbsp;查询</b></button>
                       </span>

                    </header>
                    <div id='checkResourceH' style="margin-left:2px;">
                    </div>
                    <div style='clear:left' class="panel-footer">
                        <footer class="main-footer">
                            <!-- To the right -->
                            <div class="pull-right hidden-xs">
                                <strong>Powered By 度假数据团队</strong>
                            </div>
                            <!-- Default to the left -->
                            <strong>Copyright &copy; 2016 <a href="http://taocan.ctrip.com/">Ctrip</a>.</strong> All
                            rights
                            reserved.
                        </footer>
                    </div>
                </div>
                <div id="DP" class="tab-pane fade">
                     <header id="acheader1" class="panel-heading shadow" style="margin-bottom: 10px;max-height: 50px">
                      <span id="param" style="padding: 3px;display:inline-block;text-align: center;margin-left: 10px;">
                                    <label>开始时间：<input id="startdate3" class="Wdate" type="text" placeholder="--开始时间--" onfocus="WdatePicker()"></label>&nbsp;&nbsp;
                                    <label>截止时间：<input id="enddate3" class="Wdate" type="text" placeholder="--截止时间--" onfocus="WdatePicker()"></label>&nbsp;&nbsp;
                                     <button type="button" id="search" class="btn btn-info btn-xs" onclick='checkDP()' style=""><b><i class="icon_search"></i>&nbsp;&nbsp;查询</b></button>
                       </span>
                    </header>
                    <div id='DPH' style="margin-left:2px;">
                    </div>
                    <div style='clear:left' class="panel-footer">
                        <footer class="main-footer">
                            <!-- To the right -->
                            <div class="pull-right hidden-xs">
                                <strong>Powered By 度假数据团队</strong>
                            </div>
                            <!-- Default to the left -->
                            <strong>Copyright &copy; 2016 <a href="http://taocan.ctrip.com/">Ctrip</a>.</strong> All
                            rights
                            reserved.
                        </footer>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}

{% block js %}
    <script src="/static/js/highcharts/themes/sand-signika.js"></script>
    <script src="/static/js/Custom/checkHistory.js"></script>
    <script type="application/javascript">
        $(document).ready(function () {
            function item(name, cnt) {
                this.name = name;
                this.cnt = cnt;
            }
           $("#startdate1").val(getNowDay()[1]);
           $("#enddate1").val(getNowDay()[0]);
           $("#startdate2").val(getNowDay()[1]);
           $("#enddate2").val(getNowDay()[0]);
            $("#startdate3").val(getNowDay()[1]);
           $("#enddate3").val(getNowDay()[0]);
            checkSDP()
        })
    </script>
{% endblock %}