{% extends "base.html" %}
{% block css %}
{% endblock %}

{% block content %}
    <section id="main-content">
        <section class="wrapper">
             <span id="param" style="padding: 3px;display:inline-block;text-align: center;margin-left: 10px;">

                </span>
            <ul id="myTab" class="nav nav-tabs">
                <li id="handler1" class="active"><a href="#vacInterface" data-toggle="tab"></i>
                    度假接口耗时</a></li>
                <li id="handler2"><a href="#plaseWait" data-toggle="tab" onClick="plaseWait()">敬请期待</a></li>

            </ul>
            <!-- params start-->
            <div id="myTabContent" class="tab-content">
                <div id="vacInterface" class="tab-pane fade in active">
                     <header id="acheader1" class="panel-heading shadow" style="margin-bottom: 10px;max-height: 50px">
                     <span id="param" style="padding: 3px;display:inline-block;text-align: center;margin-left: 10px;">
                           <label>开始时间：<input id="startdate1" class="Wdate" type="text" placeholder="--开始时间--" onfocus="WdatePicker()"></label>&nbsp;&nbsp;
                           <label>截止时间：<input id="enddate1" class="Wdate" type="text" placeholder="--截止时间--" onfocus="WdatePicker()"></label>&nbsp;&nbsp;
                           <button type="button" id="search" class="btn btn-info btn-xs" onclick='handelDetail()' style=""><b><i class="icon_search"></i>&nbsp;&nbsp;查询</b></button>
                      </span>
                      <span id="param" style="padding: 3px;display:inline-block;text-align: center;margin-left: 10px;">
                       <label><p style="color:red;font-size:14px;">数据取自metric，始于2016-05-03，前期因未埋点暂置为0 。每天凌晨自动更新昨日数据。</p></label>
                      </span>
                 </header>
                    <div id='orderContainer' class="panel-body" style="margin-left:2px;">

                    </div>
                    <div class="panel-footer">
                        <footer class="main-footer">
                            <!-- To the right -->
                            <div class="pull-right hidden-xs">
                                <strong>Powered By 度假数据团队</strong>
                            </div>
                            <!-- Default to the left -->
                            <strong>Copyright &copy; 2016 <a href="http://taocan.ctrip.com/">Ctrip</a>.</strong> All
                            rights
                            reserved.
                        </footer>
                    </div>
                </div>
                <div id="plaseWait" class="tab-pane fade">
                    <header id="acheader2" class="panel-heading shadow" style="margin-bottom: 10px;max-height: 50px">
                     <span id="param" style="padding: 3px;display:inline-block;text-align: center;margin-left: 10px;">
                   <label><p style="color:red;font-size:14px;">数据取自metric，始于2016-05-03，前期因未埋点暂置为0 。每天凌晨自动更新昨日数据。</p>
                   </label>
                     </span>

                    </header>
                    <div id='plaseWaitH' style="margin-left:2px;">
                    </div>
                    <div style='clear:left' class="panel-footer">
                        <footer class="main-footer">
                            <!-- To the right -->
                            <div class="pull-right hidden-xs">
                                <strong>Powered By 度假数据团队</strong>
                            </div>
                            <!-- Default to the left -->
                            <strong>Copyright &copy; 2016 <a href="http://taocan.ctrip.com/">Ctrip</a>.</strong> All
                            rights
                            reserved.
                        </footer>
                    </div>
                </div>


            </div>
        </section>
    </section>
{% endblock %}

{% block js %}
    <script src="/static/js/highcharts/themes/sand-signika.js"></script>
    <script src="/static/js/Custom/performs.js"></script>
    <script src="/static/js/Custom/checkHistory.js"></script>
    <script type="application/javascript">
        $(document).ready(function () {
            function item(name, cnt) {
                this.name = name;
                this.cnt = cnt;
            }
           $("#startdate1").val(getNowDay()[1]);
           $("#enddate1").val(getNowDay()[0]);
            vacationInterface();
        })
    </script>
{% endblock %}
