{% extends "base.html" %}
{% block css %}
{% endblock %}
{% block content %}
    <section id="main-content">
        <section class="wrapper">
            <!-- page start-->
            <!--chart start -->
            <section class="panel shadow">
                <header class="panel-heading">
                    <i class="icon_grid-3x3"></i><label class="label label-info">实时流量</label>
                    <select id="pageid" name="pageid" style="min-width: 165px">
                    </select>
                    <select id="interval" name="interval">
                        <option value="5" label="5min">5min</option>
                        <option value="10" selected label="10min">10min</option>
                        <option value="15" label="15min">15min</option>
                        <option value="20" label="20min">20min</option>
                        <option value="30" label="30min">30min</option>
                        <option value="60" label="60min">60min</option>
                    </select>
                    <i class="fa fa-refresh" id='traffic2' style="float:right;margin-top: 10px;"></i>
                </header>
                <div class="panel-body">

                    <div id='traffic'></div>
                </div>

                <div class="panel-footer">
                    <footer class="main-footer">
                        <!-- To the right -->
                        <div class="pull-right hidden-xs">
                            <small>Powered By <a href="mailto:va_data@Ctrip.com">度假数据团队</a></small>
                        </div>
                        <!-- Default to the left -->
                        <small>&copy;
                            2016 <a href="http://vacations.ctrip.com/">Ctrip</a>. All rights
                            reserved.
                        </small>
                    </footer>
                </div>
            </section>
            <!--chart end -->

        </section>
    </section>
{% endblock %}
{% block js %}
    <script src="/static/js/highcharts/themes/dark-unica.js"></script>
    <script src="/static/js/Custom/dashboard.js"></script>
    <script type="application/javascript">
        $(document).ready(function () {
            var pageid = $('#pageid').val();
            var interval = $('#interval').val();
            Highcharts.setOptions({
                global: {
                    useUTC: false
                }
            });
            chart_traffic = charts.render_double('spline', 'pv', 'uv', "/EagleEye/ajax/init/traffic/" + sysdate(0) + "/0/10", "/EagleEye/ajax/update/traffic/" + sysdate(0) + "/0/10", 300, 5, 'traffic');

            $('#traffic2').bind('click', function (event) {
                var pageid = $("#pageid").val();
                var interval_traffic = $('#interval').val();
                charts.removeChart(chart_traffic);
                chart_traffic = charts.render_double('spline', 'pv', 'uv', "/EagleEye/ajax/init/traffic/" + sysdate(0) + "/" + pageid + "/" + interval_traffic, "/EagleEye/ajax/update/traffic/" + sysdate(0) + "/" + pageid + "/" + interval_traffic, 300, 5, 'traffic');
            });
            $('.fa').hover(
                    function () {
                        $(this).css({"color": "#f5675c"});
                    },
                    function () {
                        $(this).css({"color": "#688a7e"});
                    }
            );
            loadpageid();
        })
    </script>
{% endblock %}

