{% extends "base.html" %}
{% block css %}
{% endblock %}

{% block content %}
    <section id="main-content">
        <section class="wrapper">
            <div class="alert alert-info alert-dismissable">
                注意事项：
               <li>自由行book、commit记录始于2015-03-12，直至2015-04-22数据才趋于稳定。此外融合期间因统计方式不同会造成数据的误差。</li>
               <li>团队游仅包含产品形态为：跟团游、团队游、私家团、半自助游、当地参团、独立成团，产品类型为：国内旅游,出境旅游,境外N日游,境内一日游,境内N日游。</li>
               <li>签证仅包含产品类型为：签证。</li>
           </div>

            <ul id="myTab" class="nav nav-tabs">
                <li id="tab_default" class="active"><a href="#diybook" data-toggle="tab"></i>
                    自由行book</a></li>
                <li id="diy2"><a href="#diycommit" data-toggle="tab" onClick="diycommit()">自由行commit</a></li>
                <li id="pkg1"><a href="#pkgbook" data-toggle="tab" onClick="pkgbook()"> 团队游book</a></li>
                <li id="pkg2"><a href="#pkgcommit" data-toggle="tab" onClick="pkgcommit()"> 团队游commit</a></li>
                <li id="visa2"><a href="#visacommit" data-toggle="tab" onClick="visacommit()"> 签证commit</a></li>
            </ul>
            <!-- params start-->
            <div id="myTabContent" class="tab-content">
                <div id="diybook" class="tab-pane fade in active">
                 <header id="acheader1" class="panel-heading shadow" style="margin-bottom: 10px;max-height: 50px">
                     <span id="param" style="padding: 3px;display:inline-block;text-align: center;margin-left: 10px;">
                           <label>开始时间：<input id="startdate1" class="Wdate" type="text" placeholder="--开始时间--" onfocus="WdatePicker()"></label>&nbsp;&nbsp;
                           <label>截止时间：<input id="enddate1" class="Wdate" type="text" placeholder="--截止时间--" onfocus="WdatePicker()"></label>&nbsp;&nbsp;
                           <button type="button" id="search" class="btn btn-info btn-xs" onclick='diybook()' style=""><b><i class="icon_search"></i>&nbsp;&nbsp;查询</b></button>
                      </span>
                 </header>
                    <div id='orderContainer' class="panel-body" style="margin-left:2px;">

                    </div>
                    <div class="panel-footer">
                        <footer class="main-footer">
                            <!-- To the right -->
                            <div class="pull-right hidden-xs">
                                <strong>Powered By 自由行数据团队</strong>
                            </div>
                            <!-- Default to the left -->
                            <strong>Copyright &copy; 2015 <a href="http://taocan.ctrip.com/">Ctrip</a>.</strong> All
                            rights
                            reserved.
                        </footer>
                    </div>
                </div>
                <div id="diycommit" style="margin-top:10px;" class="tab-pane fade">
                    <header id="acheader1" class="panel-heading shadow" style="margin-bottom: 10px;max-height: 50px">
                     <span id="param" style="padding: 3px;display:inline-block;text-align: center;margin-left: 10px;">
                           <label>开始时间：<input id="startdate2" class="Wdate" type="text" placeholder="--开始时间--" onfocus="WdatePicker()"></label>&nbsp;&nbsp;
                           <label>截止时间：<input id="enddate2" class="Wdate" type="text" placeholder="--截止时间--" onfocus="WdatePicker()"></label>&nbsp;&nbsp;
                           <button type="button" id="search" class="btn btn-info btn-xs" onclick='diycommit()' style=""><b><i class="icon_search"></i>&nbsp;&nbsp;查询</b></button>
                      </span>
                   </header>
                    <div id='diycommitH' style="margin-left:2px;">
                    </div>
                    <div style='clear:left' class="panel-footer">
                        <footer class="main-footer">
                            <!-- To the right -->
                            <div class="pull-right hidden-xs">
                                <strong>Powered By 度假数据团队</strong>
                            </div>
                            <!-- Default to the left -->
                            <strong>Copyright &copy; 2016 <a href="http://taocan.ctrip.com/">Ctrip</a>.</strong> All
                            rights
                            reserved.
                        </footer>
                    </div>
                </div>
                <div id="pkgbook" class="tab-pane fade">
                    <header id="acheader1" class="panel-heading shadow" style="margin-bottom: 10px;max-height: 50px">
                     <span id="param" style="padding: 3px;display:inline-block;text-align: center;margin-left: 10px;">
                           <label>开始时间：<input id="startdate3" class="Wdate" type="text" placeholder="--开始时间--" onfocus="WdatePicker()"></label>&nbsp;&nbsp;
                           <label>截止时间：<input id="enddate3" class="Wdate" type="text" placeholder="--截止时间--" onfocus="WdatePicker()"></label>&nbsp;&nbsp;
                           <button type="button" id="search" class="btn btn-info btn-xs" onclick='pkgbook()' style=""><b><i class="icon_search"></i>&nbsp;&nbsp;查询</b></button>
                      </span>
                 </header>
                    <div id='pkgbookH' style="margin-left:2px;">
                    </div>
                    <div style='clear:left' class="panel-footer">
                        <footer class="main-footer">
                            <!-- To the right -->
                            <div class="pull-right hidden-xs">
                                <strong>Powered By 度假数据团队</strong>
                            </div>
                            <!-- Default to the left -->
                            <strong>Copyright &copy; 2016 <a href="http://taocan.ctrip.com/">Ctrip</a>.</strong> All
                            rights
                            reserved.
                        </footer>
                    </div>
                </div>
                <div id="pkgcommit" class="tab-pane fade">
                    <header id="acheader1" class="panel-heading shadow" style="margin-bottom: 10px;max-height: 50px">
                     <span id="param" style="padding: 3px;display:inline-block;text-align: center;margin-left: 10px;">
                           <label>开始时间：<input id="startdate4" class="Wdate" type="text" placeholder="--开始时间--" onfocus="WdatePicker()"></label>&nbsp;&nbsp;
                           <label>截止时间：<input id="enddate4" class="Wdate" type="text" placeholder="--截止时间--" onfocus="WdatePicker()"></label>&nbsp;&nbsp;
                           <button type="button" id="search" class="btn btn-info btn-xs" onclick='pkgcommit()' style=""><b><i class="icon_search"></i>&nbsp;&nbsp;查询</b></button>
                      </span>
                 </header>
                    <div id='pkgcommitH' style="margin-left:2px;">
                    </div>
                    <div style='clear:left' class="panel-footer">
                        <footer class="main-footer">
                            <!-- To the right -->
                            <div class="pull-right hidden-xs">
                                <strong>Powered By 度假数据团队</strong>
                            </div>
                            <!-- Default to the left -->
                            <strong>Copyright &copy; 2016 <a href="http://taocan.ctrip.com/">Ctrip</a>.</strong> All
                            rights
                            reserved.
                        </footer>
                    </div>
                </div>
                <div id="visacommit" class="tab-pane fade">
                   <header id="acheader1" class="panel-heading shadow" style="margin-bottom: 10px;max-height: 50px">
                     <span id="param" style="padding: 3px;display:inline-block;text-align: center;margin-left: 10px;">
                           <label>开始时间：<input id="startdate5" class="Wdate" type="text" placeholder="--开始时间--" onfocus="WdatePicker()"></label>&nbsp;&nbsp;
                           <label>截止时间：<input id="enddate5" class="Wdate" type="text" placeholder="--截止时间--" onfocus="WdatePicker()"></label>&nbsp;&nbsp;
                           <button type="button" id="search" class="btn btn-info btn-xs" onclick='visacommit()' style=""><b><i class="icon_search"></i>&nbsp;&nbsp;查询</b></button>
                      </span>
                      <span id="param" style="padding: 3px;display:inline-block;text-align: center;margin-left: 10px;">
                       <label><p style="color:red;font-size:14px;">注意：自由行book、commit记录始于2015-03-12，直至2015-04-22数据才趋于稳定，在此日期前统一置零,后续未记录数据也一并置零。</p></label>
                      </span>
                 </header>
                    <div id='visacommitH' style="margin-left:2px;">
                    </div>
                    <div style='clear:left' class="panel-footer">
                        <footer class="main-footer">
                            <!-- To the right -->
                            <div class="pull-right hidden-xs">
                                <strong>Powered By 度假数据团队</strong>
                            </div>
                            <!-- Default to the left -->
                            <strong>Copyright &copy; 2016 <a href="http://taocan.ctrip.com/">Ctrip</a>.</strong> All
                            rights
                            reserved.
                        </footer>
                    </div>
                </div>


            </div>
        </section>
    </section>
{% endblock %}

{% block js %}
    <script src="/static/js/highcharts/themes/sand-signika.js"></script>
    <script src="/static/js/Custom/ajax-charts.js"></script>
    <script src="/static/js/Custom/performs.js"></script>
    <script src="/static/js/Custom/checkHistory.js"></script>
    <script src="/static/js/Custom/appVacation.js"></script>
    <script type="application/javascript">
        $(document).ready(function () {

            function item(name, cnt) {
                this.name = name;
                this.cnt = cnt;
            }
           $("#startdate1").val(getNowDay()[1]);
           $("#enddate1").val(getNowDay()[0]);
            $("#startdate2").val(getNowDay()[1]);
           $("#enddate2").val(getNowDay()[0]);
            $("#startdate3").val(getNowDay()[1]);
           $("#enddate3").val(getNowDay()[0]);
            $("#startdate4").val(getNowDay()[1]);
           $("#enddate4").val(getNowDay()[0]);
            $("#startdate5").val(getNowDay()[1]);
           $("#enddate5").val(getNowDay()[0]);
            diybook()

        })

    </script>
{% endblock %}